body 
{
   background-image: url(assets/images/menu_background.jpg);
   background-image:-webkit-linear-gradient()
}
  
h1, h2, p
{
    text-align: center;
}
  
.menu
{
    width:80%;
    background-color: burlywood;
    margin-right:auto;
    margin-left:auto;
    margin-top:auto;
    margin-bottom:auto;
}